:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 10;
  padding: 0;
}

h1,
ul {
  margin: 0;
}

button {
  margin: 0 3px;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:disabled {
  cursor: not-allowed;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
